# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Entornos
venv/
.venv/
.env/

# Datasets grandes
*.zip
data/ppe_combined_dataset/
data/raw/
data/*.zip

# Pesos pesados
weights/best.pt
weights/last.pt
yolov8s.pt
*.onnx
*.engine

# Resultados pesados
runs/
results/raw/
results/demo_outputs/*
!results/demo_outputs/.gitkeep
!results/demo_outputs/README.md

# Sistema
.DS_Store
Thumbs.db
