# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Entornos
venv/
.env/

# Datasets grandes
*.zip
data/ppe_combined_dataset/
data/raw/
data/*.zip

# Pesos pesados
weights/last.pt
*.onnx
*.engine

# Resultados pesados
runs/
results/raw/

# Sistema
.DS_Store
Thumbs.db
